{% extends "base.html" %}

{% block content %}
<body>
<h1>Публикация продукта</h1>
<div>
    <form class="login_form" method="post">
        <input type="name" class="form-control" id="name" placeholder="Введите имя*" name="name" required>
        <br>
        <div class="form-group">
            <label for="about">Расскажите немного о продукте</label>
            <textarea class="form-control" id="about" placeholder="..." rows="3" name="about"></textarea>
        </div>
        <br>
        <div class="form-group">
            <label for="photo">Приложите фотографию продукта</label>
            <input type="file" class="form-control-file" id="photo" name="file">
        </div>
        <br>
        <label for="about">Добавьте контактную информацию</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Введите адрес электронной почты*" name="email">
        <input type="phone_number" class="form-control" id="phone_number" placeholder="Введите номер телефона" name="phone_number">
        <br>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>
</body>
{% endblock %}